@model  List<JQueryPostModelBinding.Web.Models.FormPostModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using(Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "postForm"}))
        {
            for (int i = 0; i < Model.Count(); i++)
            {
            <div>
                @Html.LabelFor(x => Model[i].Title) @i
                @Html.EditorFor(x => Model[i].Title)
            </div>
            <div>
                @Html.LabelFor(x => Model[i].Content) @i
                @Html.EditorFor(x => Model[i].Content)
            </div>
            }

            <input type="submit" value="Post送出" />
            <input id="btnSubmitUsingJqueryPost" type="submit" value="JqueryPost - serialize 送出" />
            <input id="btnSubmitUsingJqueryPostObject" type="submit" value="JqueryPost - object 送出" />
        }
    </div>
    <div>
        <h3>送出返回的資料</h3>
        <div id="divResult"></div>
    </div>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script>
        $(function () {
            $("#btnSubmitUsingJqueryPost").click(function () {
                $("#divResult").html("");
                var btnName = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("JqueryPost")",
                    data: $("#postForm").serialize(),
                    success: function (result) {
                        $("#divResult").html(btnName + result);
                    },
                    error: function () {
                        alert("出錯")
                    }
                })
                return false;
            })
        })
    </script>
    <script>
        $(function () {
            $("#btnSubmitUsingJqueryPostObject").click(function () {
                $("#divResult").html("");
                var btnName = $(this).val();
                var data = {};
                data.Title = $("#Title").val();
                data.Content = $("#Content").val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("JqueryPost")",
                    data: data,
                    success: function (result) {
                        $("#divResult").html(btnName + result);
                    },
                    error: function () {
                        alert("出錯")
                    }
                })
                return false;
            })
        })
    </script>
</body>
</html>
